*/ {
    
    margin: 0;
    
}

body {
    width: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    max-width: 100%;
    position: fixed;
    display: flex;   
    background-color: #674582;
    justify-content: space-around;
    align-items: center;
    margin-top: -8px;
    margin-left: -10px;
    height: 100px;
    right: 0;
    
    

}

.menu li {
    display: inline-block;
    /* margin-left: 0; */
}

.menu a {
    color: white;
    text-decoration: none;
    /* margin-left: 15px;  */
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}

.logo {
    width: 30%;
    padding-left: 172px;
}

.logo img {
    width: 249px;
    height: 69px;
}

.lista {
    width: 30%;
    padding-left: 175px;
    padding-right: 20px;
}

.lista a {
    margin-right: 15px;
}

.redes-sociais {
    width: 30%;
    padding-right: 87px;
}

.redes-sociais img {
    margin-left: 15px;
}


.mulheres {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* line-height: 100px; */
}


.mulheres img {
    width: 201px;
    height: 211px;
    background-color: #674582;
    margin-left: 184px;
    border-radius: 7px;
    
}

.mulheres p{
    text-align: center;
    margin-left: 175px;
    padding-top: 15px;
    
}

.mulheres a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}

.foto-texto {
    margin-bottom: 100px;
}

header {
    display: flex;
    background-image: url(../img/bg-banner-claro.png);
    width: 1920px;
    height: 600px;
    margin-left: -8px;
    align-items: flex-end;
    background-repeat: no-repeat;
    max-width: 100%;
    vertical-align: auto;
    padding-right: 7.5px;
    background-size: cover;

}

.conteudo {
    width: 55%;
    padding-bottom: 120px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 192px; 
}

.conteudo h1 {
    font-size: 36px;
    padding-right: 100px;
}

.conteudo p {
    font-size: 21px;
    font-weight: normal;
    padding-bottom: 40px;
}

.btn {
    border: 1px solid #C083B9;
    background-color: #C083B9;
    padding: 20px 50px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    border-radius: 8px;
}

section h3 {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    color: #63458A;
    font-weight: bold;
    padding: 60px 0 35px 0;
}

.menu-final {
    width: 100%;
    max-width: 100%;
    display: flex;   
    background-color: #323534;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    margin-left: -10px;
    height: 170px;
    right: 0;
    
    

}

.menu-final li {
    /* display: inline-block; */
    /* margin-left: 0; */
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.menu-final a {
    color: white;
    text-decoration: none;
    /* margin-left: 15px;  */
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}

.logo-final {
    width: 30%;
    /* padding-left: 172px; */
    vertical-align: middle;
}

.logo-final img {
    width: 392px;
    height: 102px;
}

.lista-final {
    width: 30%;
    /* padding-left: 175px;
    padding-right: 20px; */
    padding-right: 0px;
    padding-left: 100px;
}

.lista-final a {
    /* margin-right: 15px; */
}

.icone-menu {
    display: none;
}

.redes-sociais-final {
    width: 30%;
    padding-left: 60px;
}

.redes-sociais-final img {
    margin-left: 10px;
    width: 25px;
    height: 45px;
}

.redes-sociais-final a {
    font-size: 18px;
    text-transform: none;
}

footer {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    background-color: #292A2A;
    margin: 0;
    text-align: center;
    color: #ffffff;
    height: 30px;
    margin-left: -10px;
    padding-top: 1px;
}

footer p{
    margin: 0;
}


